# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/before contend and add group of obj in data of start model.zip
/.pnp
.pnp.js
.pem
# testing
/coverage

# production
/build
.env
package-lock.json
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
routes/BookmarkQuest.zip
global-bundle.pem

/assets
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
